/* Colors */
$full-width: 100vw;
$full-height: 100vh;
$dark-purple: #3B3E99;
$light-purple: #989AD7;

$pink: #F23F79;
$purple: #7D7FDC;
$transperent-purple: rgba(152, 154, 215, 0.7);
$white: #fff;
/* Flex */
$f-end : flex-end;
$f-start: flex-start;
