/* styles for enter form*/
body
{
    margin: 0;
    padding: 0;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
    background-color: #fff;
}
.enter {
    /*display: none; /* temporary hide */
    position: absolute;
    background-color: rgba(152, 154, 215, 0.7);
    width: 100%;
    height: 100%;
    z-index: 10;
}
.enter-tab {
    max-width: 60%;
    float: none;
    list-style: none;
    padding: 0;
    margin: 75px auto;
    border-bottom: 4px solid #3B3E99;
}
.enter-tab::after {
    content: '';
    display: table;
    clear: both;
}
.enter-tab input[type=radio] {
    display:none;
}
.enter-tab>label {
    display: block;
    float: left;    
    width: 50%;
    color: #989AD7;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    line-height: 2;
    outline: none;
    cursor: pointer;
    box-shadow: inset 0 4px #989AD7;
    border-bottom: 4px solid #989AD7;
    transition: all 0.5s;
    background-color: #ffffff;
}

.enter-tab>label:hover {
    color: #3B3E99;
    box-shadow: inset 0 4px #3B3E99;
    border-bottom: 4px solid #3B3E99;
}
.signin-form, .signup-form {
    display: none;
    width: 100%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    background-color:#ffffff;
}
/* bouncing animation*/
.signin-form * {
    animation: scale 0.7s ease-in-out;
}
.signup-form * {
    animation: scale 0.7s ease-in-out;
}
@keyframes scale {
  0% {
    transform: scale(0.9);
    opacity: 0;
    }
  50% {
    transform: scale(1.01);
    opacity: 0.5;
    }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* Appear */
.enter-tab #signin:checked + label,
.enter-tab #signup:checked + label {
    background-color: #ffffff;
    box-shadow: inset 0 4px #3B3E99;
    border-bottom: 4px solid #3B3E99;
    color: #3B3E99;
}
 
#signin:checked ~ .signin-form,
#signup:checked ~ .signup-form {
    display: block;
}
/* Input styles */
.signin-form>div, .signup-form>div {
    max-width: 80%;
    font-size: 20px;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.signin-form input, .signup-form input {
    border: 4px solid #989AD7;
    margin: 0px;
    height: 32px;
    min-width: 280px;
    outline: none;
    font-size: 18px;
    box-sizing: border-box;
}
.form__button input {
    border: 4px solid #3B3E99;
    margin: 0px;
    height: 32px;
    min-width: 280px;
    font-size: 18px;
    background-color: #3B3E99;
    color: #FFF;
    box-sizing: border-box;
}
.form__recovery {
    margin-top: 5px;
    padding: 0;
    border: 0;
}
.form__recovery a {
    font-size: 12px;
    text-decoration: none;
    color: #F8F8FC;
    cursor: default;

}
/* Chat styles */
.chat {
    display: flex;
    height: 100%;
    min-width: 600px;
    max-width: 1280px;
}
/* Navigation styles*/
.chat-nav {
    background-color: #3B3E99;
    width: 30%;
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.chat-nav__hide {
    background-image: url(img/arrow.png);
    width: 25px;
    height: 25px;
}
.chat-nav__hide>input {
    display: none;
}
.chat__logo {
    margin: 10px auto;
}
.logo {
    width: 50px;
    height: 50px;
}
/* Search styles */

.chat-nav__search {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;

}
.chat-nav__search>input {
    background-image: url(img/search-dark.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 5px 3px;
    border-radius: 15px;
    border: none;
    color: #3B3E99;
    font-size: 14px;
    max-width: 220px;
    outline: none;
    padding-left: 25px;
    width: 60%
}

/* Hide conversation info */
.chat-nav__hide {
    display: block;
    position: relative;
}
/* Hamburger menu */
.chat-menu-show {
    display: block;
    position: relative;
    top: -50px;
    left: 300px;
}
.chat-menu-show input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: default;
    opacity: 0; 
    z-index: 2;
}
.chat-menu-show span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
      
    background: #fff;
    border-radius: 3px;
      
      
    transform-origin: 4px 0px;
      
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}
.chat-menu-show span:first-child {
    transform-origin: 0% 0%;
}

.chat-menu-show span:nth-last-child(2) {
    transform-origin: 0% 100%;
}
/* Transform hamburger into the cross */
.chat-menu-show input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #fff;
}
.chat-menu-show input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}
/* Hidding the middle piece of a hamburger */
.chat-menu-show input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
.chat-menu {
    display: none;
    list-style-type: none;
}

.chat-menu li {
    padding: 10px 0;
    font-size: 22px;
}
.chat-menu-show input:checked ~ ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
}

/* Chat last conversations styles */
.chat-conv {
    max-width: 400px;
    overflow-y: auto;
    display: flex;
}
.chat-conv__list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    
}
.chat-conv__item {
    display: flex;
    height: 100px;
    justify-content: space-around;
    width: 100%;
}
.chat-conv-active__item {
    background-color: #F23F79;
    color: #fff;
    display: flex;
    height: 100px;
    justify-content: space-around;
    width: 100%;
}
.chat-conv__image {
    flex-shrink: 0;
    height: 50px;
    margin: 20px 10px;
}
.chat-conv__image>img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
/* Badge Styles */
.badge {
   position:relative;
}
.badge[data-badge]:after {
   content: attr(data-badge);
   position: absolute;
   top: -2px;
   right: -5px;
   font-size: 12px;
   background: #F23F79;
   color: #fff;
   width: 14px;
   height: 14px;
   text-align: center;
   border-radius: 50%;
}
.badge[data-badge=””]:after {
content: none;
}
.chat-conv__message {
    flex-grow: 0;
    max-width: 60%;
}
.chat-conv__preview {
    flex-grow: 0;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chat-conv-active__item .chat-conv__preview {
    color: #fff;
}
.chat-conv-active__item>time {
    background: #fff;
    color: #F23F79;
}
.chat-conv__item:hover {
    background: #F23F79;
    color: #fff;
}
h4 {
    color: #fff;
    flex-grow: 0;
    font-weight: normal;
    font-size: 14px;
    margin: 30px 0 0 0;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
p {
    font-size: 12px;
    color: #7D7FDC;
    margin: 0;
}
.chat-conv__item:hover .chat-conv__preview {
    color: #fff !important;
}
.chat-conv__time {
    align-self: center;
    flex-direction: column;
    border-radius: 15px;
    background: #37398D;
    color: #7D7FDC;
    font-size: 12px;
    margin-right: 10px;
    max-width: 50px;
    padding: 0 5px;
    text-align: center;
}
.chat-conv__item:hover .chat-conv__time {
    background: #ffffff !important;
    color: #F23F79 !important;
}
/* Messaging part styles */
.chat_main {
    flex-grow: 0;
    width: 100%;
    max-width: 1280px;
    min-width: 400px;
}
/* Chat header */
.chat-main-header {
    background-color: #fff;
    display: flex;
    flex-grow: 0;
    width: 70%;
    max-width: 900px;
    padding-top: 20px;
    
    height: 60px;
    position: fixed;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
}
.chat-main__search {
    margin-bottom: 20px;

}
.chat-main__search>input {
    background-image: url(img/search-dark.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 5px 3px;
    border-radius: 15px;
    border: 2px solid #3B3E99;
    color: #3B3E99;
    font-size: 14px;
    min-width: 220px;
    max-width: 480px;
    padding-left: 25px;
}
.chat-main__search>input:focus {
    outline: none;
}
.chat-main-active__info {
    background-image: url("img/info.png");
    width: 25px;
    height: 25px;
    margin-right: 20px;
}
.chat-main__new_message {
    background-image: url("img/letter.png");
    width: 25px;
    height: 25px;
    margin-left: 20px;
}
.chat-main__new_message>input, .chat-main-active__info>input {
    display: none;
}
/* Chat messaging */
.chat-main__messaging {
    display: flex;
    flex-direction: column;
    margin: 80px auto 0 auto;
    max-width: 100vw;
    min-width: 880px;
    overflow: hidden;
}
.chat-main__item {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin-bottom: 30px;
    margin-left: 20px;
    overflow-y: auto;
    padding-bottom: 20px;
    position: relative;
    vertical-align: middle;
    text-align: left;
    max-width: fit-content;
}
.chat-main__item-me {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 14px;
    margin-bottom: 30px;
    margin-right: 20px;
    min-height: 70px;
    overflow-y: auto;
    padding-bottom: 20px;
    position: relative;
    vertical-align: middle;
    text-align: right;
    max-width: fit-content;
}
.chat-main__user {
    margin-top: 0px;
    position: relative;
	overflow: hidden;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.chat-main__item-me>.chat-main__user {
    position: absolute;
    bottom: 20px;
    right: 0;
}
.chat-main__item>.chat-main__user {
    position: absolute;
    bottom: 20px;
    left: 0;
}
.chat-main__photo {
    position: absolute;
    bottom: 0px;
    left: 0;
	width: 50px;
	border-radius: 50%;
	transition: all 200ms ease-in-out;
}
.chat-main__user:hover .chat-main__photo {
    top: -15%;
	left: -15%;
	width: 120%;
	height: 120%;
}
.chat-main-message {
    border-radius: 15px;
	background-color: #989AD7;
	vertical-align: middle;
	font-size: 14px;
	color: #DEDDF2;
	margin-left: 70px;
	margin-right: 0;
	max-width: 400px;
	padding: 20px;
	text-align:left;
	white-space: normal;
}
.chat-main__item-me>.chat-main-message {
	background-color: #F1F1FB;
	color: #5B5B5D;
	margin-left: 0;
	margin-right: 70px;
	max-width: 400px;
	padding: 20px;
	text-align: left;
	white-space: normal;
}
.chat-main-message__time {
    color: #F1F1FB;
    font-size: 12px;
    bottom: 0;
    position: absolute;
    right: 12px;
    
}
.chat-main__item-me>.chat-main-message__time {
    bottom: 0;
    left: 12px;
    text-align: left;
}
/* Send message styles */
.chat-main-send {
    align-items: flex-end;
    display: flex;
    flex-grow: 0;
    justify-content: center;
    max-width: 860px;
    position: fixed;
    bottom: 5px;
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

.chat-main-send__button {
    margin-left: 10px;
    margin-bottom: 5px;
    width: 25px;
    height: 25px;
}
.chat-main-send__message {
    font-size: 14px;
    color: #8b8dc4;
    max-height: 80px;
    min-height: 21px;
    max-width: 800px;
    min-width: 600px;
    margin-right: 10px;
    overflow: auto;
    outline: none;
    padding: 5px 10px 5px 10px;
    background: #F1F1FB;    /*F8F8FC;*/
    border-radius: 15px;
    border: 2px solid #ffffff;
    text-align: left;
}
.chat-main-send__message:focus>span {
    display: none;
}
/* Replacing input with icon */
.chat-main__attechment {
    display: none;
}
.attach_file_icon {
    margin-left: 10px;
    margin-bottom: 5px;
    width: 25px;
}